

QMainWindow {
    background-color: #96c1c4;
}

QTabWidget {
    background-color: none;
}

QMenuBar {
    background-color: whiteSmoke;
}

QPushButton {
    background-color: #96c1c4;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

QHeaderView::section {
        background-color:#FFFBE7;
        color: black;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
        border: 1px solid black;
}