

QMainWindow {
    background-color: #96c1c4;
}


QMenuBar {
    background-color: Whitesmoke;
}

QPushButton {
    background-color: #96c1c4;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

QToolBar {
    background-color: #b5e5e5;
}
